@mixin boxShadow {
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .2);
}

@mixin tag {
    display: inline-block;
    font-size: 15px;
    background: #efeef3;
    color: #999;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    border-radius: 20px;
    margin-left: 20px;
}