@mixin boxShadow {
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .2);
}

@mixin tag {
    display: inline-block;
    font-size: 15px;
    background: #efeef3;
    color: #999;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    border-radius: 20px;
    margin-left: 20px;
}

// 阅读器设置栏主题
@mixin theme1 {
    .contentText{
        color: $fcolor5;
    }
    .Edit{
        .editContainer{
        }
        .simpleBar{
        }
    }
}

//全屏fixed
@mixin fixedCover {
    position: fixed;
    left: 0;
    right:0;
    bottom:0;
    top:0;
}