/*全局通用背景色*/
$bg:#fff;

/*全局搜搜框背景色*/
$searchBg:#f0f0f0;

/*全局灰度颜色*/
$gary:#bbb;

/*全局灰度1颜色*/
$gary1:#999;

/*全局灰度2颜色*/
$gary2:#666;

/*全局字体灰度,颜色逐渐变浅*/
$fcolor1:#111;
$fcolor2:#222;
$fcolor3:#333;
$fcolor4:#444;
$fcolor5:#555;
$fcolor6:#666;
$fcolor7:#777;
$fcolor8:#888;
$fcolor9:#999;
$fcolor10:#aaa;
$fcolor11:#bbb;

/*全局active粉红色*/
$activePink:#e26e59;

/*全局灰色背景*/
$garyBg:#dfdfdf;
/*全局灰1色背景*/
$garyBg1:#f0f0f0;

/*全局边框色*/
$border:#e0e0e0;