.Toast{
    .mask{
        position: fixed;
        left:0;
        top:0;
        right:0;
        bottom:0;
        z-index: 9999;
    }
    .toastContent{
        position: fixed;
        left:50%;
        top:50%;
        z-index: 10000;
        width: 300px;
        padding: 30px;
        background: rgba(0,0,0,.5);
        text-align: center;
        color: #fff;
        border-radius: 10px;
        margin-left: -150px;
        margin-top: -150px;
        font-size: 28px;
        animation-duration:.5s;
    }
}