.title-component{
    background:  $bg;
    padding: 30px;
    border-bottom: 1px solid $border;
    .title{
        font-size: 28px;
        color: $fcolor3;
    }
    .more{
        font-size: 22px;
        color: $gary1;
        .iconfont{
            font-size: 20px;
        }
    }
}