.loadmore{
    height: 100px;
    font-size: 27px;
    color: $fcolor6;
    .loadtext{
        margin-right: 10px;
    }
    .warp{
        width: 45px;
        height: 45px;
        .k-ball7a {
            border:0;
            margin:0;
            width:15px;
            height:15px;
            position:absolute;
            border-radius:50%;
            animation:k-loadingO 2s ease infinite;
            background:#19A68C;
            animation-delay:-1.5s
        }
        .k-ball7b {
            border:0;
            margin:0;
            width:15px;
            height:15px;
            position:absolute;
            border-radius:50%;
            animation:k-loadingO 2s ease infinite;
            background:#F63D3A;
            animation-delay:-1s
        }
        .k-ball7c {
            border:0;
            margin:0;
            width:15px;
            height:15px;
            position:absolute;
            border-radius:50%;
            animation:k-loadingO 2s ease infinite;
            background:#FDA543;
            animation-delay:-0.5s
        }
        .k-ball7d {
            border:0;
            margin:0;
            width:15px;
            height:15px;
            position:absolute;
            border-radius:50%;
            animation:k-loadingO 2s ease infinite;
            background:#193B48
        }
    }
}

@keyframes k-loadingO {
	0%,100% {
	transform:translate(0)
}
25% {
	transform:translate(160%)
}
50% {
	transform:translate(160%,160%)
}
75% {
	transform:translate(0,160%)
}
}