.homeHead{
    background: $bg;
    padding: 24px 0;
    .search{
        background: $searchBg;
        height: 60px;
        line-height: 60px;
        font-size: 25px;
        border-radius: 8px;
        margin-left: 30px;
        text-indent: 20px;
        color: $gary1;
        .iconfont{
            font-size: 25px;
            margin-right: 10px;
        }
    }
    .classify{
        padding: 0 30px;
        height: 60px;
        font-size:20px;
        text-align: center;
        color: $gary1;
        .iconfont{
            font-size: 36px;
        }
    }
}