.HotRecommend{
    padding: 0 30px;
    .title {
        padding: 20px 0;
        margin-top: 15px;
        .txt {
            font-size: 30px;
            color: $fcolor6;
            font-weight: 600;
        }
        .right {
            font-size: 20px;
            color: $fcolor9;
            .iconfont {
                font-size: 20px;
            }
        }
    }
    .list{
        padding-bottom: 30px;
        border-bottom: 1px solid $border;
        .item{
            width: 50%;
            font-size: 28px;
            color: $fcolor6;
            padding: 10px 0;
            .iconfont{
                font-size: 28px;
                margin-right: 10px;
            }
        }
    }
}